* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.icon-rock {
    width: 40px;
}
.icon-onebitcode {
    width: 200px;
}
.buttons {
    display: flex;
    gap: 10px;
}
.buttonHeader {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.buttonHeader:hover {
    border-color: #ff0044 ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}