* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    background-color: gray;
}
header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
}
.item {
    width: 300px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}
footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}